<p id="notice"><%= notice %></p>

<h5>Listing Articles</h5>
<%= form_tag articles_path, method: :get do %>
  <%= text_field_tag :q, params[:q]  %>
  <%= text_field_tag :q1, params[:q1]  %>
  <%= submit_tag %>
<% end %>

<% if true #not params[:q].present? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.description %></td>
          <td><%= link_to 'Posts',[article, Post] %></td>
          <td><%= link_to 'Show', article %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New Article', new_article_path %>

<% else %>

<% end %>
