<p id="notice"><%= notice %></p>

<h5>Listing Posts</h5>
<%= @article.title %>
<table>
  <thead>
    <tr>
      <th>Article</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.article_id %></td>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= link_to 'Show', [@article, post] %></td>
        <td><%= link_to 'Edit', edit_article_post_path(@article, post) %></td>
        <td><%= link_to 'Destroy', [@article, post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_article_post_path(@article) %>
